:root {
  --scroll-track: #00000032;
  --scroll-thumb: rgba(0, 0, 0, 0.326);
  --scroll-hover: rgba(0, 0, 0, 0.496);
  --scroll-active: rgba(0, 0, 0, 0.71);
  --couleur-body: rgb(33, 33, 33);
  --light-gray: lightgray;
  --grey: grey;
  --box-shadow-logo: rgba(41, 40, 40, 0.878) 0px 48px 100px 0px;
  --adb-wave-color: rgb(234, 217, 103);
  --box-shadow2: rgba(41, 40, 40, 0.9) 0px 28px 65px 0px; 
  --box-shadow3: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --box-shadow4: rgba(0, 0, 0, 0.18) 0px 3px 8px;
  --td-color: rgb(44, 44, 44);
  --toggle-point-color: #101010;
  --toggle-background-off: rgb(45, 45, 45);
  --box-shadow-toggle-background: rgba(252, 252, 252, 0.138) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.193) 0px 18px 36px -18px inset;
  --box-shadow-toggle: rgba(17, 17, 26, 0.1) 0px 2px 0px;
  --toggle-background-on: #47637d;
  --box-shadow-toggle-on: rgba(252, 252, 252, 0.138) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.193) 0px 18px 36px -18px inset;
  --box-shadow-buttons: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --color-spinner-loader: #828282;
  --text: rgb(233, 220, 220);
  --color-buttons: #3d3b3b;
}

* {
  color: var(--text);
}

.iconeFichier {
  filter: invert(100%);
}

.progress-bar {
  background-color: rgb(63, 63, 63);
}