:root {
    --couleurBody: white;
}

@font-face {
    src: url(../fonts/Gro.ttf);
    font-family: Gro;
}

* {
    margin: 0;
    padding: 0;
    font-family: Gro;
}

body {
    background-color: var(--couleurBody);
    display: grid;
}

/*! ------------------------ */
/*! CONNECTION D'UN APPAREIL */
/*! ------------------------ */
#imgUsb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-color: lightgray;
    width: 150px;
    padding: 15px; 
    border-radius: 50%;
    filter: opacity(30%);
    animation: imgBeat 2s ease-in-out infinite;
}

@keyframes imgBeat {
    0% {
        width: 150px;
    }
    15% {
        width: 175px;
    }
    35% {
        width: 150px;
    }
}

#iddleWave {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    background-color: lightgray;
    border-radius: 100%;
    animation: wave 2s ease-in-out infinite;
    opacity: 0%;
}

#iddleWave::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 175px;
    height: 175px;
    background-color: var(--couleurBody);
    border-radius: 100%;
}

@keyframes wave {
    0% {
        width: 0px;
        height: 0px;
        opacity: 100%;
    }
    50% {
        width: 100vh;
        height: 100vh;
        opacity: 0%;
    }
}

@media screen and (max-width: 400px) {
    @keyframes beat {
        0% {
            width: 0px;
            height: 0px;
            opacity: 100%;
        }
        50% {
            width: 100vw;
            height: 100vw;
            opacity: 0%;
        }
    }
}

#txtUsb {
    position: absolute;
    z-index: -1;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: grey;
}

#adb-not-installed {
    display: none;
}

#adbWave {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    background-color: rgb(103, 234, 127);
    border-radius: 100%;
    animation: wave 2s ease-in-out infinite;
    opacity: 0%;
}

#adbWave::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 175px;
    height: 175px;
    background-color: var(--couleurBody);
    border-radius: 100%;
}

#imgWait {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-color: lightgray;
    width: 150px;
    padding: 15px; 
    border-radius: 50%;
    filter: opacity(30%);
    animation: imgBeatRotate 2s ease-in-out infinite;
    transition: .6s;
}

@keyframes imgBeatRotate {
    0% {
        width: 150px;
    }
    15% {
        width: 175px;
    }
    35% {
        width: 150px;
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

